.header_logo {
    font-family: 'Gugi', cursive;

}

.footer_logo {
    font-family: 'Gugi', cursive;

}

.main_body{
    font-family:'Nanum Myeongjo', serif;
}
.select_line{
    height: 3rem;
}
.select_boxs{
    height: 2rem;
    display: inline;
}

.key_category{
    display: inline;
    margin-right: 1rem;
}

.key_taste{
    display: inline;
    margin-right: 1rem;
}

.key_quantity{
    display: inline;
    margin-right: 1rem;
}

.key_delivery{
    display: inline;
    margin-right: 2rem;
}

.create_btn{

      height: 2rem;
      display: inline;
      border-radius: .3rem;
      -webkit-transition-duration: 0.2s; /* Safari */
      transition-duration: 0.2s;
      border: 1px solid silver;
      box-shadow : 3px 3px 3px black;

}


.create_btn:hover {
      background: lightblue;
      color: white;
 }

.create_btn:active{
    margin-left: .2rem;
    margin-top : .2rem;
    box-shadow : none;
}

.text_box{
    margin:1rem;
}


.copy_btn_div{

    height: 4rem;
    text-align:center;
}
.copy_btn{

    border-radius: .3rem;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    border: 1px solid silver;
    box-shadow : 3px 3px 3px black;
}


.copy_btn:hover {
      background: lightblue;
      color: white;
}

.copy_btn:active{
    margin-left: .2rem;
    margin-top : .2rem;
    box-shadow : none;
}

.footer_btn{
        font-size: .8rem;
}