<div style="text-align:center; margin: 2rem; font-family: 'Gugi', cursive;">
   <div>
      <h6>
         자동 리뷰 생성기
      </h6>
      <div style="margin-left: -1rem;" >
         <img src="/media/fork.png" style="width: 2.5rem;height: 2.5rem;margin-top: -1.3rem; margin-right: .4rem;">
         <span class="header_logo" style="display:inline; margin-top: .3rem; margin-left: .5rem; font-size:2.7rem;">
            요기요때?
         </span>
          <img src="/media/dish2.png" style="width: 2.5rem;height: 2.5rem;margin-top: -1.3rem;">
      </div>

   </div>

</div>